{% extends "base.html" %}
{% block content %}
<div id="Menu">

    <h1> Charts </h1>

    <ul>
        <form method="get" action=../power/results/>
        <li> Channel Power </li>
        
            <select name="data_channel">
                <option value=0> Channel 0</option>
                <option value=1> Channel 1</option>
                <option value=2> Channel 2</option>
                <option value=3> Channel 3</option>
                <option value=4> Channel 4</option>
                <option value=5> Channel 5</option>
                <option value=6> Channel 6</option>
                <option value=7> Channel 7</option>
                <option value=8> Channel 8</option>
                <option value=9> Channel 9</option>
                <option value=10> Channel 10 </option>
                <option value=11> Channel 11 </option>
                <option value=12> Channel 12 </option>
                <option value=13> Channel 13 </option>
                <option value=14> Channel 14 </option>
                <option value=15> Channel 15 </option>
            </select>
        <input type="submit" value="Submit" /> 
        </form>
       
        <li> Node Power </li> 
        <form method="get" action=../power/results/>
            
            <select name="node">
                <option value=0> Node 0</option>
                <option value=1> Node 1</option>
                <option value=2> Node 2</option>
                <option value=3> Node 3</option>
                <option value=4> Node 4</option>
                <option value=5> Node 5</option>
                <option value=6> Node 6</option>
            </select>
        <input type="submit" value="Submit" /> 
        </form>

        <li> Part Power </li> 
        <form method="get" action=../power/results/>
            
            <select name="type">
                <option value=CPU> All CPU </option>
                <option value=RAM> All RAM </option>
                <option value=CPU0> CPU 0</option>
                <option value=CPU1> CPU 1</option>
                <option value=RAM0> RAM 0</option>
                <option value=RAM1> RAM 1</option>
            </select>
        <input type="submit" value="Submit" /> 
        </form>

        <li> Daq Power </li> 
        <form method="get" action=../power/results/>
            
            <select name="daq">
                <option value=0> Daq 0</option>
                <option value=1> Daq 1 </option>
                <option value=2> Daq 2 </option>
            </select>
        <input type="submit" value="Submit" /> 
        </form>
        
    <ul>
</div>
{% endblock %}
